{
  "cli": {
    "version": ">= 20.0.0",
    "appVersionSource": "remote"
  },
  "build": {
    "preview": {
      "distribution": "internal",
      "android": { "buildType": "apk" },
      "ios": { "simulator": true }
    },
    "production": {
      "channel": "production",
      "android": { "buildType": "app-bundle", "autoIncrement": true },
      "ios": { "autoIncrement": true }
    }
  },
  "submit": {
    "production": {
      "android": {
        "serviceAccountKeyPath": "{ANDROID_SERVICE_ACCOUNT_PATH}",
        "track": "internal",
        "releaseStatus": "draft"
      },
      "ios": {
        "appleId": "{APPLE_ID}",
        "ascAppId": "auto"
      }
    }
  }
}
